{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h3>Projets</h3>
            <div id="formations"></div>
            <h3>Clients</h3>
            <ul class="list-group" id="skills"></ul>
            <h3>Tecnhologies</h3>
            <div id="references" class="row"></div>
        </div>
    </div>
{% endblock %}